@model IEnumerable<TaskModel>

@{
    ViewData["Title"] = "Lista zadań";
}

<h1 class="bg-light border rounded p-1">Lista zadań</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Dodaj</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.completed)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning m-1">Edytuj</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info m-1">Szczegóły</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
